 <br> <br>
<link rel="stylesheet" href="/css/cart.css">
<div class="shop-container">
    <h1 class="shop-title title">Cart</h1> <br> 
    <div class="cart">
        <div class="cart-info">
            <h3 class="subtitle cartsubtitle">Shop name: {{cart.shop}}</h3>
            <p class="cartinfo">Shop location: {{cart.lacation}}</p>
            <p class="cartinfo">Item Name: {{cart.itemName}}</p>
            <p class="cartinfo">Price: {{cart.price}}</p>
            <p class="cartinfo">Total Price: {{cart.totalPrice}}</p>
        </div>
    </div>
</div>